# Core
streamlit==1.36.0

# LangChain & ecosystem
langchain==0.2.14
langchain-community==0.2.12
langchain-core==0.2.35
langchain-text-splitters==0.2.2

# Vector DB
faiss-cpu==1.7.4
rank-bm25==0.2.2
sentence-transformers==2.2.2

# Tokenizer + embeddings
transformers==4.30.2
tokenizers==0.13.3

# LLM providers (Groq etc.)
langchain-groq==0.1.6

# Utilities
tiktoken==0.7.0
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.1
